<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>anotacoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <textarea placeholder="Escreva seu texto"></textarea>

  <a href="home"><ion-button>Voltar rascunho</ion-button></a>
</ion-content>

<div>
  <div class="divisao">
    <a href="/folder/Inbox" style="text-decoration: none"><ion-button expand="full" >Cancelar</ion-button></a>
  </div>
  <div class="divisao1">
      <ion-button expand="full" >Salvar</ion-button>
  </div>
  </div>
