<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>anotacoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card-header>
    <ion-item>
      <ion-input placeholder="Título" style="overflow: hidden;"></ion-input>
    </ion-item>
  </ion-card-header>

  <textarea placeholder="Escreva seu texto"></textarea>


</ion-content>


<div>
  <div class="divisao">
    <a href="home" style="text-decoration: none"><ion-button expand="full" >Cancelar</ion-button></a>
  </div>
  <div class="divisao">
    <a style="text-decoration: none"><ion-button expand="full">Salvar</ion-button></a>
  </div>
</div>
