<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vacina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <!-- dos 0 a 6 meses -->
  <div class="tabela 0">

    <ion-card>
  <ion-grid class="topo">
    <ion-row>
    <ion-col >Idade</ion-col>
    <ion-col >Vacina</ion-col>
    <ion-col >Dose</ion-col>
    <ion-col >Descrição</ion-col>
    </ion-row>
   </ion-grid>
  </ion-card>

  <ion-card>
   <div class="nasce">
   <ion-grid>
    <ion-row>
    <ion-col >De 0 meses a 4 anos, 11 meses e 29 dias.</ion-col>
    <ion-col >BCG (Bacilo de Calmette e Guérin)</ion-col>
    <ion-col >Dose única</ion-col>
    <ion-col >É indicada para prevenir as formas graves de Tuberculose (Miliar e Meníngea).</ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col >Nas primeiras 12 horas após nascimento</ion-col>
      <ion-col >Hepatite B</ion-col>
      <ion-col >1º dose</ion-col>
      <ion-col >Protege as pessoas contra infecção pelo virús da hepatite tipo B</ion-col>
    </ion-row>
   </ion-grid>
  </div>
</ion-card>

<ion-card>
  <div class="1mes">
    <ion-grid>
    <ion-row>
      <ion-col>1 mês</ion-col>
      <ion-col>Hepatite B</ion-col>
      <ion-col>2º dose</ion-col>
      <ion-col>Reforço contra infecção pelo virús da hepatite B</ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-card>

<ion-card>
  <div class="2meses">
   <ion-grid>
    <ion-row>
      <ion-col >2 meses</ion-col>
      <ion-col >Tetravalente</ion-col>
      <ion-col >1º dose</ion-col>
      <ion-col >Vacina contra Difteria, Tétano, Coqueluche e Meningite causada por Haemophilus</ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>
  </div>
</ion-card>

<ion-card>
  <div class="3meses">
   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>
  </div>
</ion-card>

<ion-card>
  <div class="4meses">
   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>
  </div>
</ion-card>

<ion-card>
  <div class="5meses">
    <ion-grid>
     <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
     </ion-row>
    </ion-grid>
   </div>
  </ion-card>

<ion-card>
   <div class="6meses">
    <ion-grid>
     <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
     </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col ></ion-col>
        <ion-col ></ion-col>
        <ion-col ></ion-col>
        <ion-col ></ion-col>
      </ion-row>
     </ion-grid>
   </div>
  </ion-card>
  </div>


   <!-- dos 9 meses a 11 anos -->

   <div class="tabela9">

   </div>


  <a href="/home">
    <ion-button>Home</ion-button>
  </a>
</ion-content>
