<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vacina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <!-- dos 0 a 6 meses -->
  <div class="tabela 0">
  <ion-grid class="topo">
    <ion-row>
    <ion-col >Idade</ion-col>
    <ion-col >Vacina</ion-col>
    <ion-col >Dose</ion-col>
    <ion-col >Descrição</ion-col>
    </ion-row>
   </ion-grid>

   <div class="nasce">
   <ion-grid>
    <ion-row>
    <ion-col ></ion-col>
    <ion-col ></ion-col>
    <ion-col ></ion-col>
    <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>
  </div>

  <div class="2meses">
   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>
  </div>

  <div class="3meses">
   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>
  </div>

  <div class="4meses">
   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
    </ion-row>
   </ion-grid>
  </div>

  <div class="5meses">
    <ion-grid>
     <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
     </ion-row>
    </ion-grid>
   </div>

   <div class="6meses">
    <ion-grid>
     <ion-row>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
      <ion-col ></ion-col>
     </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col ></ion-col>
        <ion-col ></ion-col>
        <ion-col ></ion-col>
        <ion-col ></ion-col>
      </ion-row>
     </ion-grid>
   </div>
  </div>

   <!-- dos 9 meses a 11 anos -->

   <div class="tabela9">

   </div>


  <a href="/home">
    <ion-button>Home</ion-button>
  </a>
</ion-content>
