<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MyFirstTrip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <a href="/anotacoes"><ion-datetime></ion-datetime></a>
</ion-card>

<a href="anotacoes"><ion-button>Anotar</ion-button></a>


<div>
<ion-fab vertical="buttom" horizontal="end">
  <ion-fab-button size="small">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <ion-fab-button>
      <a href="/anotacoes"><ion-icon name="reader"></ion-icon></a>
    </ion-fab-button>
    <ion-fab-button>
      <a href="/vacina"><ion-icon name="bandage"></ion-icon></a>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
</div>

</ion-content>
